@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Edo SZ";
  src: url("../../fonts/edosz.ttf");
  font-display: block;
  unicode-range: U+0-22, U+24-29, U+2B-3F, U+41-D6, U+D8-24F;
}

body {
  background-color: #f02017;
}
