body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

main {
  background: url("../images/hills-bg.svg") no-repeat center bottom / contain, linear-gradient(#4172b7, #bed9ec 100%);
  padding: 1rem 2rem;
}

.credits {
  margin-inline: auto;
  padding: 2rem;
  border-image: url("../images/cloud-border-2.png") 100 fill / 50px round;
  font-size: 1.5em;
  width: max(80vw, 600pt);
}
