@font-face {
  font-family: "Haros Baelz";
  src: url("/public/fonts/Baefont_normal-Regular_V1.ttf");
}

body {
  display: grid;
  grid-template-rows: 100vh auto;
}

.above-fold {
  display: grid;
  grid-template-rows: min-content 1fr;
  height: 100%;
}

.landing-contents {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  height: 100%;
  padding: 1rem 4rem 3rem;
  background: url("/public/images/hills-bg.svg") no-repeat center bottom / contain, linear-gradient(#4172b7, #bed9ec 100%);

  .video {
    flex: 1;
    container-type: size;

    /* Reduce height to prevent "Scroll for more" text getting pushed off-screen on mobile */
    @media(orientation: portrait) {
      flex: none;
      width: 100%;
      aspect-ratio: 16 / 9;
    }

    iframe {
      border: none;
      display: block;
      margin: 0 auto;
      aspect-ratio: 16 / 9;
      height: 100%;

      /* Switch from height-limited to width-limited sizing */
      @container(aspect-ratio < 16 / 9) {
        & {
          flex: none;
          height: initial;
          width: 100%;
        }
      }
    }
  }

  .scroll-down {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.5em;
    color: white;
  }
}

.site-description {
  padding: 4rem;

  a {
    font-family: "Haros Baelz";
    font-size: 1.5em;
  }
}
