body {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

main {
  background: url("/public/images/hills-bg.svg") no-repeat center bottom / contain, linear-gradient(#4172b7, #bed9ec 100%);
}

.messages {
  display: grid;
  grid-template-columns: 100pt 1fr 100pt;
  grid-template-areas: "left . right";
  height: 100%;

  .msg-container {
    grid-area: 1 / left / 1 / right;
  }

  >button {
    display: flex;
    font-size: 4rem;
    font-weight: 800;
    width: 5rem;
    height: 5rem;
    color: #9898ff;
    border: 4pt solid #cdcfff;
    border-radius: 100%;
    background: #fafbff;
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  #prev-msg {
    grid-area: 1 / left;
  }

  #next-msg {
    grid-area: 1 / right;
  }
}

.msg-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 10rem;
  align-items: flex-start;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  padding: 2rem calc(50% - var(--message-width) / 2);
  --message-width: max(50vw, 600pt);

  @media(orientation: portrait) {
    gap: 6rem;
  }
}

.msg {
  display: inline-flex;
  flex-direction: column;
  flex: none;
  padding: 2rem;
  width: var(--message-width);
  scroll-snap-align: center;
  border-image: url("/public/images/cloud-border-2.png") 100 fill / 50px round;

  .video {
    width: 356pt;
    height: 200pt;
    align-self: center;
    border: none;

    &.placeholder {
      display: grid;
      place-items: center;
      cursor: pointer;

      &>* {
        grid-area: 1/1;
      }

      play-icon {
        display: grid;
        place-items: center;

        &>* {
          grid-area: 1/1;
        }

        circle {
          display: block;
          width: 65pt;
          height: 65pt;
          background-color: red;
          border-radius: 100%;
        }

        triangle {
          width: 0;
          height: 0;
          border-left: 30pt solid white;
          border-top: 20pt solid transparent;
          border-bottom: 20pt solid transparent;
          translate: 4pt;
        }
      }
    }
  }
}
