@font-face {
  font-family: "Edo SZ";
  src: url("../fonts/edosz.ttf");
}

@font-face {
  font-family: "Tamanegi Kaisho Geki";
  src: url("../fonts/玉ねぎ楷書激無料版v7改.ttf");
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
}

main {
  contain: inline-size;

  &::before {
    content: "";
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: calc(100vh - var(--header-height));
    background: linear-gradient(rgb(255 255 255 / 0.5), rgb(255 255 255 / 0.5)), no-repeat center / cover url("../images/BAE1M.jpg");
  }
}

img.emoji {
  display: inline;
  height: 1.2em;
  width: 1.2em;
  margin: 0 .075em;
  vertical-align: -20%;
}

.msg-container {
  --message-width: 350px;
  padding: 20px;
  margin: 0 auto;
}

#msg-load-spinner {
  display: flex;
  justify-content: center;
  padding-top: 4rem;
}

.msg {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 20px auto;
  margin-bottom: 20px;
  width: var(--message-width);
  font-family: "Noto Sans JP", sans-serif;

  .sender-name {
    position: relative;
    top: 5px;
    margin-right: 2rem;
    grid-area: 1 / 1 / auto / span 2;
    font-family: "Noto Sans JP", sans-serif;
    transform: rotate(356.5deg);

    >span {
      position: relative;
      display: inline-block;
      padding: 0.4rem 0.8rem;
      background-color: #fb46ce;
      border: 5px solid #00144b;
      box-shadow: 2px 1px black;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-width: 1px 2px;
        border-style: solid;
        border-color: #000ebf #fa144b #fa144b #000ebf;
      }
    }
  }

  .sender-title {
    position: relative;
    left: -8px;
    top: 10px;
    margin-right: 2rem;
    grid-area: 2 / 2;
    font-family: "Edo SZ", "Tamanegi Kaisho Geki", "Noto Sans JP", sans-serif;
    font-size: 0.83em;

    >span {
      position: relative;
      display: inline-block;
      padding: 0.4rem 0.8rem;
      background-color: #11ddee;
      border: 4px solid #00144b;
      box-shadow: 3px 1px black;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        border-width: 1px 2px;
        border-style: solid;
        border-color: #11dd4b #0014ee #0014ee #11dd4b;
      }
    }
  }

  .msg-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-area: 3 / 2;
    padding: 1rem;
    border: 5px solid rgb(0 0 0 / 0);
    z-index: 0;
  }

  msg-content-bg {
    position: relative;
    grid-area: 2 / 2 / span 2;
    background-color: white;
    border: 5px solid #00144b;
    box-shadow: 2px 1px black;

    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      border-width: 1px;
      border-style: solid;
      border-color: #ff144b #00ffff #00ffff #ff144b;
    }
  }

  msg-decals {
    grid-area: 3 / 2;
    opacity: 0.2;

    &.decal-1 {
      background: no-repeat top 20px left 10px / 50px url("../images/message-decal-cross.png"), no-repeat bottom right / 100px url("../images/message-decal-circle.png");
      margin: 0 -20px -20px 0;
    }

    &.decal-2 {
      background: no-repeat top right / 100px url("../images/message-decal-circle.png");
      margin: -20px -10px 0 0;
    }

    &.decal-3 {
      background: no-repeat bottom 18px right 15px / 50px url("../images/message-decal-cross.png");
    }

    &.decal-4 {
      background: no-repeat top 15px right 20px / 50px url("../images/message-decal-cross.png"), no-repeat bottom left / 100px url("../images/message-decal-circle.png");
      margin: 0 0 -20px -25px;
    }
  }

  .video {
    width: 100%;
    aspect-ratio: 16/9;
    align-self: center;

    &.placeholder {
      display: grid;
      place-items: center;
      cursor: pointer;

      &>* {
        grid-area: 1/1;
      }

      play-icon {
        display: grid;
        place-items: center;

        &>* {
          grid-area: 1/1;
        }

        circle {
          display: block;
          width: 40pt;
          height: 40pt;
          background-color: red;
          border-radius: 100%;
        }

        triangle {
          width: 0;
          height: 0;
          border-left: 18pt solid white;
          border-top: 10pt solid transparent;
          border-bottom: 10pt solid transparent;
          translate: 3pt;
        }
      }
    }
  }
}

.loader-stack {
  display: grid;
  place-items: center;

  .loader {
    z-index: -1;
  }

  >* {
    grid-area: 1/1;
  }
}

.loader {
  display: inline-block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }

  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }

  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }

  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

dialog {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  background: none;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;

  &[open] {
    display: flex;
  }

  &::backdrop {
    background-color: black;
    opacity: 0.7;
  }
}

.close-box {
  position: relative;
  width: 100%;
  max-width: 900px;

  .dialog-close-button {
    position: absolute;
    top: calc(-40px - 1rem);
    right: 0;
    display: flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: white;
    align-self: flex-end;
    background-color: gray;
    border-radius: 100px;
    border: none;
    font-family: "Arial";
    font-size: 2em;
    line-height: 1;
  }
}

#video-dialog {
  .video {
    border: 0;
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16/9;
  }
}
