@font-face {
  font-family: "Edo SZ";
  src: url("../fonts/edosz.ttf");
  font-display: block;
}

@font-face {
  font-family: "Tamanegi Kaisho Geki";
  src: url("../fonts/玉ねぎ楷書激無料版v7改.ttf");
  font-display: block;
}

.aussie {
  transform: scale(-1);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr;
  background: rgb(255 190 0);
}

main {
  contain: inline-size;

  &::before {
    content: "";
    position: fixed;
    top: var(--header-height);
    height: calc(100vh - var(--header-height));
  }
}

.timeline {
  display: grid;
  grid-auto-flow: dense;
  column-gap: 2rem;
  grid-template-columns: minmax(1rem, 1fr) minmax(20rem, 2fr) 0.5rem minmax(20rem, 2fr) minmax(1rem, 1fr);
  margin-top: 1rem;
  margin-bottom: 2rem;

  font-family: "Noto Sans JP", "Noto Sans KR", sans-serif;
}

.squeaks {
  display: grid;
  place-self: center;
  position: fixed;
  bottom: 0;
  z-index: 1;

  margin: auto auto 1rem 0.5rem;

  a {
    font-size: 0.8em;
    color: inherit;
    text-decoration: inherit;
  }

  img {
    width: 4rem;
  }
}

.timeline__header {
  grid-column: 1 / -1;
  justify-self: center;
  font-family: "Edo SZ", "Tamanegi Kaisho Geki", "Noto Serif KR", serif;
  font-size: 4rem;
}

.timeline__footer {
  grid-column: 1 / -1;
  justify-self: center;

  img {
    width: 8rem;
  }
}

.timeline__separator {
  background: white;
  position: relative;
  grid-column: 3;
  align-content: center;

  event-marker {
    display: grid;
    width: 4rem;
    height: 4rem;
    transform: translateX(-1.8rem) translateY(-2rem);
    background-color: white;
    border: 0.5rem solid white;
    border-radius: 100%;

    &>* {
      grid-area: 1/1;
    }

    cheese {
      transform: translateY(-0.2rem);
      background: no-repeat url("../images/timeline/icon-cheese.svg");
    }
    dice {
      background: no-repeat url("../images/timeline/icon-dice.svg");
    }
    star {
      transform: translateY(0.1rem);
      background: no-repeat url("../images/timeline/icon-glowing-star.svg");
    }
  }
}

.timeline__info {
  grid-column: 4;
  justify-self: start;
  align-content: center;
  margin: 0rem 1rem 4rem 1rem;
  text-align: left;
}
.timeline__info:nth-child(2n) {
  grid-column: 2;
  justify-self: end;
  text-align: right;
}

.timeline__media {
  grid-column: 2;
  justify-self: end;
  text-align: right;
  align-content: center;
  margin: 0rem 1rem 4rem 1rem;

  img {
    width: 100%;
    height: auto;
    aspect-ratio: attr(width) / attr(height);
    border-radius: 10px;
  }
}
.timeline__media:nth-child(2n+1) {
  grid-column: 4;
  justify-self: start;
  text-align: left;
}

.timeline__date {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
}

.timeline__title {
  font-family: "Edo SZ", "Tamanegi Kaisho Geki", "Noto Serif KR", serif;
  font-size: 1.8em;
}

.timeline__subtitle {
  font-family: "Noto Sans JP", "Noto Sans KR", sans-serif;
  font-weight: 300;
}

.timeline__collablist {
  display: inline;
  list-style: none;
  padding-inline-start: 0px;
  font-size: 0.8em;
}
.timeline__collablist li {
  display: inline;
}
.timeline__collablist li + li:before {
  content: ", ";
}

@media only screen and (max-width: 42rem),
       only screen and (-webkit-min-device-pixel-ratio: 3)
{
  .timeline {
    grid-template-columns: 2rem 0.5rem minmax(20rem, 1fr) !important;
  }

  .timeline__separator {
    grid-column: 2 !important;
    grid-row: span 2;
    align-content: start !important;
    transform: translateX(-1.8rem) translateY(2.5rem) !important;
  }

  .timeline__info {
    grid-column: 3 !important;
    text-align: left !important;
    justify-self: start !important;
    margin: 0rem 1rem 1rem 0rem;
  }

  .timeline__media {
    grid-column: 3 !important;
    text-align: left !important;
    justify-self: start !important;
    margin: 0rem 1rem 4rem 0rem;
  }
}
