{% extends "shared/base.html" %}
{% block head -%}
<link href="public/styles/credits.css" rel="stylesheet">
<link href="public/styles/header-nav.css" rel="stylesheet">
{%- endblock head %}}

{% block content -%}
{% include "shared/header-nav.html" %}
<main>
  <div class="credits">
    <ul>
      <li>Hakos Baelz handwriting <a
          href="https://drive.google.com/drive/folders/1rSJ_0M36ENMqVm8NFjHRBLod7b8rCaMk">font</a> - <a
          href="https://x.com/Mei65906908">@Mei65906908</a></li>
      <li>Hills background - based on <a href="https://www.deviantart.com/up1ter/art/Bliss-334243173">Bliss</a> by
        UP1TER</li>
      <li>Error image - <a href="https://x.com/kanauru">@kanauru</a> for Gura's 2022 April Fools <a
          href="https://www.youtube.com/watch?v=r12ApuXBpPM&t=684s">stream</a></li>
      <li><a href="https://masonry.desandro.com/">Masonry.js</a> - <a href="https://desandro.com/">David DeSandro</a></li>
      <li>Cloud background frame - Trildar (I'm not gonna link myself)</li>
      <li>Website design - Trildar, based on some loose ideas from the Brats</li>
      <li>Website implementation - Trildar</li>
    </ul>
  </div>
</main>
{%- endblock content %}
