{% set page_current = "/credits" -%}
{% extends "shared/base.html" %}
{% from "shared/header-nav.html" import nav_head, nav_content %}
{% block head -%}
{{ nav_head }}
<link href="public/styles/credits.css" rel="stylesheet">
{%- endblock head %}

{% block content -%}
{{ nav_content }}
<main>
    <section class="credits">
        <h1>BaeMillion Project Team</h1>
        <ul>
            <li>Project Planning: <a href="https://x.com/zyro_b">Zyrob</a>, <a href="https://x.com/avroskyargath">Avros</a></li>
            <li>Concept/Design: <a href="https://x.com/zyro_b">Zyrob</a>, <a href="https://x.com/Alterachu">Serachu</a>, Buffybear, UltraReconKing</li>
            <li>Website Team: <a href="https://github.com/trildar">Trildar</a>, <a href="https://x.com/zyro_b">Zyrob</a>, <a href="https://github.com/dkua">dkua</a>, <a href="https://x.com/Riinkuda">Riinku</a></li>
            <li>Content Team: <a href="https://x.com/avroskyargath">Avros</a>, <a href="https://x.com/DiaGuy_">Diaguy_</a>, Buffybear, AshScar, <a href="https://github.com/dkua">dkua</a>, <a href="https://x.com/AqoursBaelz">Nick (Aqours!)</a>, <a href="https://x.com/RamsusUmoth">Plagesama</a>, <a href="https://x.com/SiteGarbo">Aggraphine</a></li>
            <li>Background Art and Assets: <a href="https://x.com/Mikururun">Miku</a></li>
            <li>Intro Chorus: <span title="Big ups to this man for organising the recordings and mixing it all">Avros</span>, Zyrob, Miku, Fosmetis, Quazzyy, Trildar, Faenrir, Akonikin, taco tom, Somotodsyo, ShokBox, Riinku, Realtonkyt, Nick (Aqours!), Nichollas, Ryde, Diaguy_, Serachu, Corrin, VF, Singtohaloha, Juan059, Solemn, ScooterBooter, LiefTheBeef, Joshua Busuttil, UltraReconKing, azazaxxax, Dre, Adam, JamesBondage</li>
            <li>Special Thanks: <a href="https://x.com/HakosFanCord">Bae's Sewer Rats</a>, <a href="https://x.com/yayoiken1324">Yayoiken</a> for Korean Translation, <a href="https://x.com/kirinuki_shrew">Shrew</a> for Japanese Translation, <a href="https://x.com/BaeCheeseVendor">Kayama</a> for CN Translation & <a href="https://x.com/ZeroReaper_">Zeroreaper</a> for helping socialise the form</li>
        </ul>
    </section>
    <section class="credits">
        <h1>Afterword</h1>
        <p>Well, you’ve reached the end.</p>
        <p>I hope this little journey down memory lane brought a smile to your face and gave you that extra boost of confidence to keep chasing your dreams. Maybe even a sololive soon? ;)</p>
        <p>Firstly, I would like to give a very HUGE special thanks to everyone in the team who made this project possible. If it wasn’t for them, this website would not even exist. I will forever be grateful to the people who helped me make all this possible during a time where life has taken a lot of my time away from me. So from the bottom of my heart, thank you all so much! You guys are seriously the absolute best!!!!!</p>
        <p>Next, from me and the entire team behind this website, we want to say a huge thank you, Bae, for everything you’ve done for us. Whether it be making us smile and laugh during streams, making some of the most peak music or building the most wonderful community around, you’ve given us so much joy over the past 3 years.</p>
        <p>This was our first time making a website like this and while it wasn’t without its challenges, our love and gratitude for you kept us going. This site is more than just a celebration of your milestone. It’s also a way for us to show how much we appreciate everything you’ve done since you started streaming. At the end of the day, you’re just doing what you always do—playing games, singing, dancing, and making amazing content. But for so many of us, you’ve made our lives that much more fun and bright. We’ve travelled across the world to see you perform on stage, built new friendships in this community, and found inspiration through your hard work and passion to chase our own dreams. That’s why we wanted to do something special to honor you and all the joy you’ve brought into our lives. From me, the whole team, and everyone watching: thank you for making us smile every single day.</p>
        <p>Once again, congratulations on hitting one million subs! Onwards to two million!</p>
        <p>I would like to end this message with a fortune I got for this year: “You won’t be bored for long. New adventures await for you.”</p>
        <p>Here’s to many more fun adventures together!</p>
        <p>– From Zyrob and the BaeMillion team</p>
        <br>
        <p>P.S. I hope you’ll keep your promise once you hit 2 million subs. As the one who asked for it in the first place, let me show you this as a reminder.</p>
        <iframe class="video" src="https://www.youtube-nocookie.com/embed/bZMJ_ZMNoLg?start=14318" title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen referrerpolicy="strict-origin-when-cross-origin">
        </iframe>
    </section>
    <section class="credits">
        <h1>Additional Assets and Libraries</h1>
        <ul>
            <li>Hakos Baelz handwriting
                <a href="https://drive.google.com/drive/folders/1rSJ_0M36ENMqVm8NFjHRBLod7b8rCaMk">font</a> -
                <a href="https://x.com/Mei65906908">@Mei65906908</a></li>
            <li>Edo SZ font</li>
            <li>Tamanegi Kaisho Geki <a href="https://booth.pm/ja/items/2929647">font</a></li>
            <li><a href="https://fonts.google.com/noto">Noto</a> font families</li>
            <li>Error image - <a href="https://x.com/kanauru">@kanauru</a> for Gura's 2022 April Fools <a
                href="https://www.youtube.com/watch?v=r12ApuXBpPM&t=684s">stream</a></li>
            <li>Bae headpat emote - <a href="https://x.com/chrone_co">@chrone_co</a></li>
            <li><a href="https://masonry.desandro.com/">Masonry.js</a> - <a href="https://desandro.com/">David DeSandro</a></li>
            <li><a href="https://github.com/jdecked/twemoji">twemoji</a></li>
        </ul>
        <details class="egg">
            <summary>Oh hi</summary>
                <div class="baescii">
                    <pre>
                                                                    ..                                                                 :#@%%%@@#@%-.                                                                             
                                                                 :%*-%                                                              :%#**#@=:.....:-#*.                                                                          
                                                              =%+-----@:                                                          .##***@-............+#.                         .                                              
                                                          .+#+---+%=---%:                                                         %#***@:..............:%:                    .=#:                                               
                                                       .+#+--@=----=%+--#:                              ...                .. @. *#***#@.................#:              .:=*%@*.                                                
                                                       .#=---%+----*%#@#######*-.                    .+%#*#%+             .%###:-%*****@:................:@. .:-=+*##%%%%#**%#:                                                  
                                                        .#+--+*-+%##*::%:.....:@%#.                 .*%*****%.:--:.      .+#@@=*=%*****%=.................+@##**********#%%+.                                                    
                                                          ++-=@**#:....:%-.....-%*@=            ..:=+%*****#%=::::+%.     .*+ :+*#******%..................%******#%@@%=..                                                       
                                                          .**-*@:.......:%-....:%**%.         .*%**************+::::%...-%+    =@*******%:.................%**########***%@+..                                                   
                                                            =%*-*.....*%:......:%**%*         .%******#*******+:::::##=.      #%********%:.................*            .-*@@@*.                                                 
                                                            =#..-#:*%-.........-%***@.         :@#***********=-::=*%+.     :%%**********#.................++                  ...                                                
                                                           .#:...:-............%#***##           .+@%**%##%%%@%@%*#% .-*%%#***********#@:................:@.        .:----=---::..                                               
                                                          .*+.................+%******%*.          .@**@@%##**++*@%%%%%%%%@@%%#*****#@=..................%#%%%%#####*************####%%%%#*=:.                                   
                                                          .%..................#*********#%%######%@=*@%#%@.......:@************##%@@+..................:%#***********************************##%#*-.                             
                                                          :%..................#*********#%%%##**##.-@###%:........:%*****************#%#-.............*%*******************************************#%%*-.                        
                                     .:=+*#%%%%%%%%%%%%%#**%..................-@****#%@%#******##..#####%..........:@*******************#%+:.......:#%**************************************************#%#-.                    
                                         :-+#%%##**********@...................:*%%%#**********%..-%####@...........:%#********************%*:..:*@#********************************************************%%+.                 
                                                .-#%##*****%+.................:+@#************@...@%####@.............@#*********************%@%#*************************************#####################****#@+.              
                                                     .#%#***%:..............:%%**************#=..-@#####@...........:%.:%**********************@***************************************###########%%%%%%%%%%%%%%##%%:.           
                                       :-=+*#%%@@@@@@%%#*@%*#@:...........:@%****************@:..+%#####%...........%:...*%*********************@#******************************************#%@%:                .:-+#+.         
                           .-*%@@%%%#####*********************%=.........#%******************%...+%#####%@........:%.......*%********************@==*@@@%*****************************************%@*.                           
                     .=#@%%%###########************************#%=.....:@#******************#%...=@######%#......=%..........+@#******************%.    ..:-*@@#**********************##**************#%%:                       
                   .::........:::---=*#%@%%#*********************#%*:.=%*******************%*%....@########%#=..*+.:-+*-.......:*%#***************#%.          .:=#@#********************#######**********#%*.                   
                                   ..:---===+*%@%%******************#@%******************#%:.*-...:@##########%%%%@#-..............=#%#************%=               .:+%%#******************###########******#%#-                
                          .:=*#%%%###************####***************%%******************%=...:%....-@@%####%%%%#=....................%***************                    :+%%#*****************#############****#%#-.            
                     .:+%@%#***************************************#@*****************%+......:#....-*.----=#:......:#***...........=%************##%                       .:*%#****************#######%%%%#####**#%*.          
                  .-%@%##******************************************@***************#%+..........#+...-%..:#-........%...+*..........%*************#@@                           .+%#***************######%%:-+#%%%%###%%:.       
                :%%###******************************************##%%***********#*#@=..............#*:..#@-.........#-...:@.........##*************%@%                              .=%#**************######@-.    :+%%%#%@-.     
             .-@%####*****#%@@%#***********************#%%@%*=:  .%#**********#%%:......:%%@-........+%#=@+........#....-@........%#*#@**##******##%*                                  +@#*************#####%*.        -%@%@-    
            .@%####**#@@%***********************#%@@+:           .%***********%........:#...*......................#....*........##@#.%**##******@.%:                                    .#%*************#####%           .+@@:  
           *%##%@@@@%##********************%@#-..                :%***********%........#....++.....................:%..%=......:@*....%**@******%-.:                                       .:@#***********#####@-           ..=#.
         :@%=:#@%####*****************%@*-..                     :%***********%........%....*=.......................::..............%#*%%*****%%.                                            .#%***********####@-             ..
         ..+@%#####***************%%=:.                          .%*********#*%=.......#....#.......................................-@**@*****#%%-                                              .=%#*********####%-              
        .#%######*************%%+:.                              .%#********@##%.......-#.:%-.......................................*#*@#****%%##@.                                               .-%#********####@=.            
      .#%##########*******#%#-.                                   -%********#=%%-........-:........................................=%*%#***#@%####%.                                                 -%#*******####%-            
    .+%##########******#%+.                                        #********%..:+.................................................+@#@#***%@##@@##%%.                                                  :%#******####@=           
   .#%#########*****#%+.                                           :@*******#%........................-.......:#:..............-#*@%@#**#@%##%=.+%%#%.                                                   -%#*****####%.          
  :@%#########***#%#.                                              =@@*****##%=.....................-%.=#%##%#:.............:*#:.@#*%*#@%###%*    .*%@-                                                    =%#****###%@:         
 .%#########***%#.                                               .*%#%@#****%%%:..............+@%%%=.....................:%*.  ::.+##@%####%#.         .                                                    .+%****#####.        
.%%########*#@-                                                 .@%####@@***#@#@-....................................:#@-       .%@*.%%###@+.                                                                 .#%*#####%+        
-%########@*..                                                 =@##%@####@%**#%::=...............................*@@%#@%@*.    **.. -@##%@:                                                                     .@######@-       
*%#####%@=.                                                 .=@%%@*.=%####%@@##%+%*:......................-*%%%%######%....:=#%+:   *%#@=.                                                                       .=@####%%       
%%###%#:.                                                   .::..    *%####@.:*@@- .:=*####*++++*##%%%%%%%#############.....:*#-.  =@@*.                                                                           .%%###%+      
@#%@*.                                                               .*%###@=   .-=:     .+@%################%%%#######..-#+:     :@+.                                                                               =@###%.     
%@=.                                                                  .=@###%       .:+#+:.*%#####%@@%%#*++=--%%######@#+.        :.                                                                                  .#%#%+     
:.                                                                      .+%%%#. .-*%*:.....=%######%*::::::::%%%%%%%%@#.                                                                                                =%%@.    
                                                                           .*%+     .:-+*###%%%%%%%%%%::::::%-:.                                                                                                         :@@=    
                                                                                           ..        .#=:::%:                                                                                                             .%#    
                                                                                                      .+*:#.                                                                                                                +.   
                                                                                                        :@-                                                                                                                      
                </pre>
            </div>
        </details>
    </section>
    <div class="bratboard">
        <img src="public/images/ratcollab.jpg">
    </div>
</main>
{%- endblock content %}
