{% extends "shared/base.html" %}
{% block head -%}
<link href="public/styles/home.css" rel="stylesheet">
<link href="public/styles/header-nav.css" rel="stylesheet">
{%- endblock head %}

{% block content -%}
<div class="above-fold">
  {% set page_current = "/home" -%}
  {% include "shared/header-nav.html" %}
  <main>
    <div class="landing-contents">
      <div class="scroll-down">Scroll down for more</div>
    </div>
  </main>
</div>
<div class="site-description">
  <p>Prototyping grounds for a fan site for Chaos, the End of ends, steel rose trapped in a cage of ice, vtuber <a
      href="https://www.youtube.com/@hakosbaelz">Hakos Baelz</a>. If that's you, you should not be looking at this
    now.
  </p>
  <h2>Disclaimers</h2>
  <ul>
    <li>You can probably tell, but design is not my strong suit <span style="font-size: 8px;">send help</span></li>
  </ul>
</div>
{%- endblock content %}
