{% set page_current = "/messages" -%}
{% extends "shared/base.html" %}
{% from "shared/header-nav.html" import nav_head, nav_content %}
{% from "shared/dialog.html" import dialog_head, dialog_content %}
{% block head -%}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@800&display=swap" rel="stylesheet">
{{ nav_head }}
<link href="public/styles/messages.css" rel="stylesheet">
<link rel="preload" href="public/fonts/NotoSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="public/fonts/edosz.ttf" as="font" type="font/ttf" crossorigin>
<!-- Don't preload this because it's a large file for non-essential text that would block the defer scripts from running -->
<!-- <link rel="preload" href="public/fonts/玉ねぎ楷書激無料版v7改.ttf" as="font" type="font/ttf" crossorigin> -->
<script src="public/scripts/twemoji@15.1.0.min.js" defer></script>
<script src="public/scripts/masonry.min.js" defer></script>
{{ dialog_head }}
<script src="public/scripts/message_masonry.js" defer></script>
{%- endblock head %}

{% block content -%}
{{ nav_content }}
<main>
  <div id="msg-container" class="msg-container">
    <div id="msg-load-spinner" style="visibility: hidden;">
      <span class="loader"></span>
    </div>
  </div>
</main>
<script>
  setTimeout(() => {
    const spinner = document.getElementById("msg-load-spinner");
    if (spinner) {
      spinner.style.visibility = "visible";
    }
  }, 500);
</script>
<template id="messages-template">
  {% for msg in messages -%}
  <div class="msg" id="{{ msg.id }}">
    <msg-content-bg></msg-content-bg>
    <msg-decals class="decal-{{msg.decal_variant}}"></msg-decals>
    <div class="sender-name">
      <div>
        <span>
          <a href="#{{ msg.id }}">#</a> {{ msg.sender_name }}

          {% if msg.sender_name|lower == "mikururun" %}
            <img src="public/images/bae_pat.png" loading="lazy" class="emoji pat-the-miku" />
          {% endif %}
        </span>
      </div>
    </div>
    {% if msg.sender_title %}
    <div class="sender-title">
      <div>
        <span>{{ msg.sender_title }}</span>
      </div>
    </div>
    {% endif %}
    <div class="msg-content">
    {% if msg.media.is_youtube and msg.media.video_id -%}
      {%- if msg.media.clip_id and msg.media.clipt -%}
      <div class="msg-media">
        <div class="video placeholder" data-video_id="{{ msg.media.video_id }}" data-clip_id="{{ msg.media.clip_id }}" data-clipt="{{ msg.media.clipt }}">
          <img src="{{ msg.media.path }}" loading="lazy" width="{{ msg.media.width }}" height="{{ msg.media.height }}">
          <play-icon>
            <circle></circle>
            <triangle></triangle>
          </play-icon>
        </div>
      </div>
      {%- else -%}
      <div class="msg-media">
        <div class="video placeholder" data-video_id="{{msg.media.video_id}}">
          <img src="{{ msg.media.path }}" loading="lazy" width="{{ msg.media.width }}" height="{{ msg.media.height }}">
          <play-icon>
            <circle></circle>
            <triangle></triangle>
          </play-icon>
        </div>
      </div>
      {%- endif -%}
    {% elif msg.media.path -%}
      <div class="msg-media">
        <a href="{{ msg.media.path }}" target="_blank">
          <img src="{{ msg.media.path }}" loading="lazy" width="{{ msg.media.width }}" height="{{ msg.media.height }}">
        </a>
      </div>
    {% endif -%}
      <p>{{ msg.message }}</p>
    </div>
  </div>
  {%- endfor %}
</template>
{{ dialog_content }}
{%- endblock content %}
