{% set page_current = "/messages" -%}
{% extends "shared/base.html" %}
{% from "shared/header-nav.html" import nav_head, nav_content %}
{% from "shared/dialog.html" import dialog_head, dialog_content %}
{% block head -%}
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@800&display=swap" rel="stylesheet">
{{ nav_head }}
<link href="public/styles/messages.css" rel="stylesheet">
<link rel="preload" href="public/fonts/NotoSans-Regular.ttf" as="font" type="font/ttf" crossorigin>
<link rel="preload" href="public/fonts/edosz.ttf" as="font" type="font/ttf" crossorigin>
<!-- Don't preload this because it's a large file for non-essential text that would block the defer scripts from running -->
<!-- <link rel="preload" href="public/fonts/玉ねぎ楷書激無料版v7改.ttf" as="font" type="font/ttf" crossorigin> -->
<script src="public/scripts/twemoji@15.1.0.min.js" defer></script>
<script src="public/scripts/masonry.min.js" defer></script>
{{ dialog_head }}
<script src="public/scripts/message_masonry.js" defer></script>
{%- endblock head %}

{% block content -%}
{{ nav_content }}
<main>
  <div id="msg-container" class="msg-container">
    <div id="msg-load-spinner" style="visibility: hidden;">
      <span class="loader"></span>
    </div>
  </div>
</main>
<script>
  setTimeout(() => {
    const spinner = document.getElementById("msg-load-spinner");
    if (spinner) {
      spinner.style.visibility = "visible";
    }
  }, 500);
</script>
<template id="messages-template" data-charset-sans-jp="{{charset_sans_jp}}" data-charset-sans-kr="{{charset_sans_kr}}">
  {% for msg in messages -%}
  <div class="msg" id="msg-{{ msg.id }}">
    <msg-content-bg></msg-content-bg>
    <msg-decals class="decal-{{msg.decal_variant}}"></msg-decals>
    <div class="sender-name">
      <div>
        <a href="#msg-{{ msg.id }}">{{ msg.sender_name }}</a>
      </div>
    </div>
    {% if msg.sender_title %}
    <div class="sender-title">
      <div>
        <span>{{ msg.sender_title }}</span>
      </div>
    </div>
    {% endif %}
    <div class="msg-content">
    {% if msg.media.type is startingwith "YouTube" -%}
      <div class="video placeholder" data-video_id="{{ msg.media.video_id }}"
        {% if msg.media.type == "YouTubeClip" -%}
        data-clip_id="{{ msg.media.clip_id }}" data-clipt="{{ msg.media.clipt }}"
        {% endif -%}
      >
        <img src="{{ msg.media.path }}" loading="lazy" width="{{ msg.media.width }}" height="{{ msg.media.height }}">
        <play-icon>
          <circle></circle>
          <triangle></triangle>
        </play-icon>
      </div>
    {% elif msg.media.path -%}
      <img class="msg-img" loading="lazy"
        {% if msg.media.thumbnail -%}
        src="{{ msg.media.thumbnail.path }}" width="{{ msg.media.thumbnail.width }}" height="{{ msg.media.thumbnail.height }}"
        {% else -%}
        src="{{ msg.media.path }}" width="{{ msg.media.width }}" height="{{ msg.media.height }}"
        {% endif -%}
        data-full-img="{{msg.media.path}}" data-full-width="{{ msg.media.width }}" data-full-height="{{ msg.media.height }}"
      >
    {% endif -%}
      <p>{{ msg.message }}</p>
    </div>
  </div>
  {%- endfor %}
</template>
{{ dialog_content }}
{%- endblock content %}
