{% extends "shared/base.html" %}
{% from "shared/header-nav.html" import nav_head, nav_content %}
{% block head -%}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
{{nav_head}}
<link href="public/styles/timeline.css" rel="stylesheet">
{%- endblock head %}

{% block content -%}
{% set page_current = "/timeline" -%}
{{ nav_content }}
<main>
  <section class="timeline">
    <div class="timeline__header">
    </div>
    {% for event in events %}
    <div class="timeline__separator"></div>
    <section class="timeline__info">
      <div class="timeline__date">{{ event.date }}</div>
      <div class="timeline__title">{{ event.title }}</div>
      {% if event.subtitle %}
      <p class="timeline__subtitle">{{ event.subtitle }}</p>
      {% endif %}
      {% if event.collabed_with -%}
      <ul class="timeline__collablist">
      {% for name in event.collabed_with -%}
        <li>{{ name }}</li>
      {%- endfor %}
      </ul>
      {%- endif %}
    </section>
    <section class="timeline__media">
      <a href="{{ event.media.link }}" target="_blank">
        <img src="{{ event.media.path }}" loading="lazy">
      </a>
    </section>
    {% endfor %}
    <div class="timeline__footer">
      <img src="public/images/timeline/footer.png" loading="lazy">
    </div>
  </section>
</main>
{%- endblock content %}