{% macro link(path_link, page_path, display_text) %}
<a {% if page_current is startingwith page_path -%} class="active" {% endif -%}
  href="{{path_link}}">{{display_text}}</a>
{% endmacro -%}
<header>
  <nav aria-label="Site navigation">
    <menu>
      <li>{{link("index.html", "/home", "Home")}}</li>
      <li>{{link("messages.html", "/messages", "Messages")}}</li>
      <li>{{link("timeline.html", "/timeline", "Timeline")}}</li>
      <li>{{link("credits.html", "/credits", "Credits")}}</li>
    </menu>
  </nav>
</header>
